.home-page{
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  width: 100%;
}
.home-page-intro{
  margin: auto;
  display: flex;
  place-items: center;
  height: 100%;
  min-width: 50vw;
  margin-left: 50px;
  color: #252525;
  flex-direction: column;
  justify-content: center;
  .title-wrapper{
    font-size:53px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: start;
    width: 500px;
    position: relative;
    .title{
    }
    .title-img{
      width: 133px;
      position: absolute;
      top: -49px;
      left: -66px;
      transform: rotate(342deg);
    }
  }
  .desc-wraper{
    line-height: 1.6;
    font-size: 21px;
    font-family: 'Fascinate Inline', cursive;
    width: 572px;
  }
  .btns-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    margin-top: 50px;
    >.login-btn{
      cursor: pointer;
      width: 203px;
      font-size: 26px;
      margin-bottom: 25px;
      padding: 10px;
    }
  }
}
  
.login-txt-btn {
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.login-btn {
  padding: 5px;
  border: 1px solid #b6b6b6;
  color: white;
  position: relative;
  z-index: 100;
  background-image: linear-gradient(111deg, rgb(230, 3, 79), rgb(224, 34, 0));
  border-radius: 5px;
  transition: 0.4s;
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 8px 2px rgba(2,2,2,0);
  margin-bottom: 10px;
  text-align: center;
  &:hover {
    transform: scale(1.1);
  }
  
}


//treat-button-style

.treat-wrapper{
  margin-bottom: 25px;
  width: fit-content;
  position: relative;
}

// .treat-button {
//   width: 275px;
//   font-family: 'Fascinate Inline', cursive;
//   font-size:3vmin;
//   appearance: none;
//   background: linear-gradient(to bottom, #959595, #464545);
//   border: none;
//   color: #FFF;
//   border-radius: 2em;
//   padding: .6em 1.5em;
//   overflow: hidden;
//   user-select: none;
//   cursor: pointer;
//   z-index: 1;
//   box-shadow: 0 0 1em rgba(white, .2);
//   transition: transform .1s cubic-bezier(.5, 0, .5, 1),
//   box-shadow .2s;
//   &.colorful{
//     background: linear-gradient(to bottom, #F46001, #E14802);
//   }
  
//   &:hover {
//     box-shadow: 0 0 2em rgba(white, .3);
//   }

//   outline: none;

//   &:active {
//     transform: scale(0.8) translateY(10%);
//     transition-timing-function: cubic-bezier(.5, 0, .5, 1);
//   }
// }

.treat {
  --scale-x: 0;
  --scale-y: 0;
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - .5rem);
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
  transform: 
    translate(
      calc( var(--x) * 1px ), 
      calc( var(--y) * 1px )
    ) 
    translate(-50%, -50%);
  pointer-events: none;
  animation: 
    treat-enter .1s ease-in backwards, 
    treat-exit 300ms linear 
    calc( (var(--lifetime, 3000) * 1ms) - 300ms) 
    forwards;

  @keyframes treat-enter {
    from {
      opacity: 0;
    }
  }
  @keyframes treat-exit {
    to {
      opacity: 0;
    }
  }
  
  .inner-style {
    animation: inner-rotate .6s linear infinite;
    transform: rotate( 
      calc(-1turn * var(--direction) )
    ); 
    @keyframes inner-rotate {
      to { 
        transform: none;
      } 
    }
  }
}


///////////////////////////////////////

.button {
  width: 275px;
  display: inline-flex;
  position: relative;
  border-radius: 8px;
  background: #272727;
  flex-direction: row;
  align-items: center;
  color: #fff;
  overflow: hidden;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0px 14px 55px rgba(60, 0, 189, 0.15);
  -webkit-mask-image: none;
  cursor: pointer;
  box-shadow: 0 0 1em rgba(white, .2);
  box-shadow: 0px 14px 55px #4987f452;
  transition: transform .1s cubic-bezier(.5, 0, .5, 1),
  box-shadow .2s;
  border: none;
  &:hover{
    box-shadow: 0 0 2em rgba(white, .3);
    .hover {
      transform-origin: 0 0;
      transform: scaleX(1);
    }
  }
  outline: none;

  &:active {
    transform: scale(0.8) translateY(10%);
    transition-timing-function: cubic-bezier(.5, 0, .5, 1);
  }
}
.button .hover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.05;
  transform: scaleX(0);
  transform-origin: 100% 100%;
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  will-change: transform;
}

.button.is-purple {
  background: #4987f4;
}


.button .label {
  display: block;
  position: relative;
  text-align: center;
  line-height: 1em;
  font-family: 'Fascinate Inline', cursive;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  opacity: 0.75;
  transition: opacity 0.3s;
  will-change: opacity;
}


.button.is-purple .label {
  opacity: 1;
}

.button.is-white {
  background: #fff;
  color: #4987f4;
}
.button.is-white .hover {
  background: #4987f4;
  opacity: 0.035;
}
