// Colors
$primaryClr: #424242;
$secondaryClr: #0085ff;
//Background colors
$primaryBackgroundClr: #292f4c;
$taskCellBackgroundClr:#e6e9ef9f;
$secondaryBackgroundClr:  #0085ff1c;
$hoverBackgroundClr1:#c1c3c79f;
$hoverBackgroundClr2:#dddddd;



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;