.new-msg-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 50px;
}
.textarea-editor-wrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid #0085ff;
    border-radius: 5px ;
}
.buttons-bar{
    padding: 5px;
    border-radius:5px 5px 0 0;
    border-bottom: 1px solid lightgrey;
    display: flex;
    place-items: center;
    .editor-btn{
        padding: 5px;
        border-radius: 5px ;
        width: 20px;
        height: 20px;
        display: flex;
        place-items: center;
        justify-content: center;
        transition: 0.2s;
        cursor: pointer;
        position: relative;
        &:hover{
            background-color: lightgrey;
            .label-text{
                visibility: visible;
            }
        }
    }
}
.attachments-bar{
    display: flex;
    place-items: center;
    padding: 5px;
    .attachment-btn{
        padding: 5px;
        display: flex;
        border-radius: 5px ;
        display: flex;
        place-items: center;
        justify-content: center;
        transition: 0.2s;
        cursor: pointer;
        color: #0085ff;
        margin-right: 7px;
        font-size: 12px;
        span{
            margin-left: 2px;
        }
    }
    .add-msg-btn{
        padding: 5px;
        background-color: #0085ff;
        color: white;
        border-radius: 3px ;
        margin-left: auto;
        cursor: pointer;
    }
}
textarea{
    padding: 10px 15px;
    border-radius: 0 0 5px 5px;
    border: none;
}
