::selection {
    background-color:$secondaryClr;
    color: white;
}

html {
    font-family: montserrat;
}

body {
    font-size: rem(16px);
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction:column;
    background-color: $primaryBackgroundClr;
    color: $primaryClr;
}

*:focus{
    outline: none;
}
.App{
    display: flex;
    flex-direction:row;
    height: 100vh;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: rem(10px) auto;
    color: #3d4b63;
    align-self: center;
    margin: 0 0 0.6em;
    line-height: 1;
}
textarea {
    resize: none;
}